In [ ]:
import requests
import pandas as pd
import json
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import csv

In [ ]:
csv_file_path = 'Movies title.csv'

with open(csv_file_path, 'r') as file:
    csv_reader = csv.reader(file)
    data_list = []
    for row in csv_reader:
        data_list.append(row)
del data_list[0]

In [ ]:
data_movies=[]
for row in data_list:

  url = f' http://www.omdbapi.com/?t={row}&apikey=4509890'
  headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '4509890',
  }

  session = Session()

  try:
     response = session.get(url,headers=headers)
     data = json.loads(response.text)
     data_movies.append(data)
  except (ConnectionError, Timeout, TooManyRedirects) as e:
     print(e)

In [ ]:
Movies=pd.DataFrame(data_movies)
Movies['Released'] = pd.to_datetime(Movies['Released'])
Movies['day'] = Movies['Released'].dt.day
Movies['month'] = Movies['Released'].dt.month
Movies['year'] = Movies['Released'].dt.year

In [ ]:
Movies=Movies.drop(["Poster", "DVD", "Type", "Awards" , "Ratings" , "totalSeasons" , "Response",
"Error" , "Website" , "Production","Year","Released"], axis=1)
Movies.to_csv("MoviesData.csv")

In [ ]:
Movies.dropna(axis=0,inplace=True)

In [ ]:
Movies.isnull().sum()

Title         0
Rated         0
Runtime       0
Genre         0
Director      0
Writer        0
Actors        0
Plot          0
Language      0
Country       0
Metascore     0
imdbRating    0
imdbVotes     0
imdbID        0
BoxOffice     0
day           0
month         0
year          0
dtype: int64

In [ ]:
Movies.dtypes

Title          object
Rated          object
Runtime        object
Genre          object
Director       object
Writer         object
Actors         object
Plot           object
Language       object
Country        object
Metascore      object
imdbRating     object
imdbVotes      object
imdbID         object
BoxOffice      object
day           float64
month         float64
year          float64
dtype: object

In [ ]:
Movies["Runtime"]=Movies["Runtime"].apply(lambda x:int(x.replace("min"," ")))

In [ ]:
Movies.head()

,Title,Rated,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Metascore,imdbRating,imdbVotes,imdbID,BoxOffice,day,month,year
0,Guardians of the Galaxy,PG-13,121,"Action, Adventure, Comedy",James Gunn,"James Gunn, Nicole Perlman, Dan Abnett","Chris Pratt, Vin Diesel, Bradley Cooper",A group of intergalactic criminals must pull t...,English,United States,76,8.0,"1,233,785",tt2015381,"$333,718,600",1.0,8.0,2014.0
1,Prometheus,R,124,"Adventure, Mystery, Sci-Fi",Ridley Scott,"Jon Spaihts, Damon Lindelof, Dan O'Bannon","Noomi Rapace, Logan Marshall-Green, Michael Fa...","Following clues to the origin of mankind, a te...","English, Gaelic","United Kingdom, United States",64,7.0,"626,784",tt1446714,"$126,477,084",8.0,6.0,2012.0
2,Split,PG-13,117,"Horror, Thriller",M. Night Shyamalan,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",Three girls are kidnapped by a man with a diag...,English,"United States, Japan",63,7.3,"526,718",tt4972582,"$138,291,365",20.0,1.0,2017.0
3,Sing,PG,108,"Animation, Comedy, Family","Garth Jennings, Christophe Lourdelet",Garth Jennings,"Matthew McConaughey, Reese Witherspoon, Seth M...","In a city of humanoid animals, a hustling thea...","English, Japanese","Japan, United States, France",59,7.1,"181,456",tt3470600,"$270,578,425",21.0,12.0,2016.0
4,Suicide Squad,PG-13,123,"Action, Adventure, Fantasy",David Ayer,"David Ayer, John Ostrander","Will Smith, Jared Leto, Margot Robbie",A secret government agency recruits some of th...,"English, Japanese, Spanish",United States,40,5.9,"706,414",tt1386697,"$325,100,054",5.0,8.0,2016.0

In [ ]:
Movies.dtypes

Title          object
Rated          object
Runtime         int64
Genre          object
Director       object
Writer         object
Actors         object
Plot           object
Language       object
Country        object
Metascore       int64
imdbRating    float64
imdbVotes       int64
imdbID         object
BoxOffice       int64
day             int64
month           int64
year            int64
dtype: object

In [ ]:
Movies['day']=Movies['day'].astype(int)

In [ ]:
Movies['year']=Movies['year'].astype(int)

In [ ]:
Movies['month']=Movies['month'].astype(int)

In [ ]:
Movies.head()

,Title,Rated,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Metascore,imdbRating,imdbVotes,imdbID,BoxOffice,day,month,year
0,Guardians of the Galaxy,PG-13,121,"Action, Adventure, Comedy",James Gunn,"James Gunn, Nicole Perlman, Dan Abnett","Chris Pratt, Vin Diesel, Bradley Cooper",A group of intergalactic criminals must pull t...,English,United States,76,8.0,"1,233,785",tt2015381,"$333,718,600",1,8,2014
1,Prometheus,R,124,"Adventure, Mystery, Sci-Fi",Ridley Scott,"Jon Spaihts, Damon Lindelof, Dan O'Bannon","Noomi Rapace, Logan Marshall-Green, Michael Fa...","Following clues to the origin of mankind, a te...","English, Gaelic","United Kingdom, United States",64,7.0,"626,784",tt1446714,"$126,477,084",8,6,2012
2,Split,PG-13,117,"Horror, Thriller",M. Night Shyamalan,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",Three girls are kidnapped by a man with a diag...,English,"United States, Japan",63,7.3,"526,718",tt4972582,"$138,291,365",20,1,2017
3,Sing,PG,108,"Animation, Comedy, Family","Garth Jennings, Christophe Lourdelet",Garth Jennings,"Matthew McConaughey, Reese Witherspoon, Seth M...","In a city of humanoid animals, a hustling thea...","English, Japanese","Japan, United States, France",59,7.1,"181,456",tt3470600,"$270,578,425",21,12,2016
4,Suicide Squad,PG-13,123,"Action, Adventure, Fantasy",David Ayer,"David Ayer, John Ostrander","Will Smith, Jared Leto, Margot Robbie",A secret government agency recruits some of th...,"English, Japanese, Spanish",United States,40,5.9,"706,414",tt1386697,"$325,100,054",5,8,2016

In [ ]:
Movies["BoxOffice"]=Movies["BoxOffice"].apply(lambda x:str(x.split()[0].replace("$","")))

In [ ]:
Movies["BoxOffice"]=Movies["BoxOffice"].apply(lambda x:str(x.split()[0].replace('N/A',"0")))

In [ ]:
Movies["BoxOffice"]=Movies["BoxOffice"].apply(lambda x:str(x.replace(',',"")))

In [ ]:
Movies["BoxOffice"]

0     333718600
1     126477084
2     138291365
3     270578425
4     325100054
        ...
93     43034523
94    459005868
95     36261763
97       336467
98      1305195
Name: BoxOffice, Length: 94, dtype: object

In [ ]:
Movies["BoxOffice"]=Movies["BoxOffice"].astype(int)
Movies["Metascore"]=Movies["Metascore"].apply(lambda x:str(x.split()[0].replace('N/A',"0")))
Movies["Metascore"]=Movies["Metascore"].astype(int)
Movies["imdbRating"]=Movies["imdbRating"].apply(lambda x:str(x.split()[0].replace('N/A',"0")))
Movies["imdbRating"]=Movies["imdbRating"].astype(float)
Movies["imdbVotes"]=Movies["imdbVotes"].apply(lambda x:str(x.split()[0].replace('N/A',"0")))
Movies["imdbVotes"]=Movies["imdbVotes"].apply(lambda x:str(x.replace(',',"")))
Movies["imdbVotes"]=Movies["imdbVotes"].astype(int)

In [ ]:
Movies["BoxOffice"]

In [ ]:
fact_table=Movies[["imdbID" ,"Runtime","BoxOffice","imdbVotes","imdbRating","Metascore"]]
fact_table["Movie_ID"]=fact_table["imdbID"]
fact_table=fact_table.drop(['imdbID'],axis=1)
fact_table = pd.DataFrame(fact_table)
fact_table.to_csv("Fact_table.csv")

<ipython-input-82-e217ec8eab12>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table["Movie_ID"]=fact_table["imdbID"]

In [ ]:
release_date=Movies[["imdbID" ,"day","month","year"]]
release_date["Movie_ID"]=release_date["imdbID"]
release_date=release_date.drop(['imdbID'],axis=1)
release_date = pd.DataFrame(release_date)
release_date.to_csv("release_date.csv")

<ipython-input-83-31d671fd7747>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  release_date["Movie_ID"]=release_date["imdbID"]

In [ ]:
movie_details=Movies[["imdbID" ,"Title","Plot","Rated"]]
movie_details["Movie_ID"]=movie_details["imdbID"]
movie_details=movie_details.drop(['imdbID'],axis=1)
movie_details = pd.DataFrame(movie_details)
movie_details.to_csv("Movie_details.csv")

<ipython-input-84-be9d713543f5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_details["Movie_ID"]=movie_details["imdbID"]

In [ ]:
Movies["Genre"] = Movies["Genre"].apply(lambda x: x.replace(" ","").split(","))

In [ ]:
all_genre = []
Movies["Genre"].apply(lambda x: all_genre.extend(x))
distinct_genre = list(set(all_genre))
distinct_genre

['Drama',
 'Action',
 'Romance',
 'Comedy',
 'Biography',
 'Sci-Fi',
 'Family',
 'Thriller',
 'History',
 'Crime',
 'Fantasy',
 'Music',
 'Adventure',
 'Mystery',
 'Horror',
 'War',
 'Animation']

In [ ]:
genres = []
for i in range(len(distinct_genre)):
  genres.append({"Genre_ID":i+1,"Genre_Name":distinct_genre[i]})
genres = pd.DataFrame(genres)
genres
genres.to_csv("Genres.csv")

In [ ]:
idG = genres.Genre_ID
nameG = genres.Genre_Name
dicG =zip( nameG , idG)
finalG= dict(dicG)
nwG =[]
for i , row in Movies.iterrows() :
  mid = row["imdbID"]
  langG = str(row['Genre']).replace(" " , "").replace("]","").replace("[","").replace("'","").split(',')
  for l in langG :
    nwG.append({"Movie_ID": mid , "GenreID" : finalG[l]})
movie_Genre =pd.DataFrame(nwG)
movie_Genre.to_csv("Movie_Genre.csv")

In [ ]:
Movies["Country"] = Movies["Country"].apply(lambda x: x.replace(" ","").split(","))

all_Country = []
Movies["Country"].apply(lambda x: all_Country.extend(x))
distinct_Country = list(set(all_Country))

Countries = []
for i in range(len(distinct_Country)):
  Countries.append({"Country_ID":i+1,"Country_Name":distinct_Country[i]})
Countries = pd.DataFrame(Countries)
Countries.to_csv("Countries.csv")

In [ ]:
idC = Countries.Country_ID
nameC = Countries.Country_Name
dicC =zip( nameC , idC)
finalC= dict(dicC)
nwC =[]
for i , row in Movies.iterrows() :
  mid = row["imdbID"]
  langC = str(row['Country']).replace(" " , "").replace("]","").replace("[","").replace("'","").split(',')
  for l in langC :
    nwC.append({"Movie_ID": mid , "CountryID" : finalC[l]})
movie_Country =pd.DataFrame(nwC)
movie_Country.to_csv("Movie_Country.csv")

In [ ]:
Movies["Language"] = Movies["Language"].apply(lambda x: x.replace(" ","").split(","))

all_Language = []
Movies["Language"].apply(lambda x: all_Language.extend(x))
distinct_Language = list(set(all_Language))

Languages = []
for i in range(len(distinct_Language)):
  Languages.append({"Language_ID":i+1,"Language_Name":distinct_Language[i]})
Languages = pd.DataFrame(Languages)
Languages.to_csv("Languages.csv")

In [ ]:
idL =Languages.Language_ID
nameL = Languages.Language_Name
dicL =zip( nameL , idL)
finalL= dict(dicL)

In [ ]:
nwL =[]
for i , row in Movies.iterrows() :
  mid = row["imdbID"]
  langL = str(row['Language']).replace(" " , "").replace("]","").replace("[","").replace("'","").split(',')
  for l in langL :
    nwL.append({"Movie_ID": mid , "Language_ID" : finalL[l]})
movie_Language =pd.DataFrame(nwL)
movie_Language.to_csv("Movie_Language.csv")

In [ ]:
Movies["Director"] = Movies["Director"].apply(lambda x: x.replace(" ","").split(","))

all_Director = []
Movies["Director"].apply(lambda x: all_Director.extend(x))
distinct_Director = list(set(all_Director))

Directors = []
for i in range(len(distinct_Director)):
  Directors.append({"Director_ID":i+1,"Director_Name":distinct_Director[i]})
Directors = pd.DataFrame(Directors)
Directors.to_csv("Directors.csv")

In [ ]:
idD = Directors.Director_ID
nameD = Directors.Director_Name
dicD =zip( nameD , idD)
finalD= dict(dicD)
nwD =[]
for i , row in Movies.iterrows() :
  mid = row["imdbID"]
  langD = str(row['Director']).replace('"',"").replace("'","").replace(" ","").replace("]","").replace("[","").replace("GavinOConnor","GavinO'Connor").split(',')
  for l in langD :
    nwD.append({"Movie_ID": mid , "Director_ID" : finalD[l]})
Movie_Director =pd.DataFrame(nwD)
Movie_Director.to_csv("Movie_Director.csv")

In [ ]:
Movies["Writer"] = Movies["Writer"].apply(lambda x: x.replace(" ","").split(","))

all_Writers = []
Movies["Writer"].apply(lambda x: all_Writers.extend(x))
distinct_Writers = list(set(all_Writers))

Writers = []
for i in range(len(distinct_Writers)):
  Writers.append({"Writer_ID":i+1,"Writer_Name":distinct_Writers[i]})
Writers = pd.DataFrame(Writers)
Writers.to_csv("Writers.csv")

In [ ]:
idW =Writers.Writer_ID
nameW = Writers.Writer_Name

dicW =zip( nameW , idW)

finalW= dict(dicW)

In [ ]:
nwW =[]
for i , row in Movies.iterrows() :
  mid = row["imdbID"]
  langW = str(row['Writer']).replace('"',"").replace("'","").replace(" ","").replace("]","").replace("[","").replace("DanOBannon","DanO'Bannon").split(',')
  for l in langW :
    nwW.append({"Movie_ID": mid , "Writer_ID" : finalW[l]})
movie_Writer =pd.DataFrame(nwW)
movie_Writer.to_csv("Movie_Writer.csv")

In [ ]:
Movies["Actors"] = Movies["Actors"].apply(lambda x: x.replace(" ","").split(","))

all_Actors = []
Movies["Actors"].apply(lambda x: all_Actors.extend(x))
distinct_Actors = list(set(all_Actors))

Actors = []
for i in range(len(distinct_Actors)):
  Actors.append({"Actors_ID":i+1,"Actors_Name":distinct_Actors[i]})
Actors = pd.DataFrame(Actors)
Actors.to_csv("Actors.csv")

In [ ]:
idA = Actors.Actors_ID
nameA = Actors.Actors_Name
dicA =zip( nameA , idA)
finalA= dict(dicA)
nwA =[]
for i , row in Movies.iterrows() :
  mid = row["imdbID"]
  langA = str(row['Actors']).replace('"',"").replace("'","").replace(" ","").replace("]","").replace("[","").replace("AuliiCravalho","Auli'iCravalho").split(',')
  for l in langA :
    nwA.append({"Movie_ID": mid , "Actors_ID" : finalA[l]})
Movie_Director =pd.DataFrame(nwA)
Movie_Director.to_csv("Movie_Actors.csv")